.portafolio {
    border-top: 5px solid #3da5e2;
    background: #ffff;
}

.portafolio .titulo {
    color: #3da5e2;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.portafolio .galeria .contenedor-imagen {
    max-height: 11.25rem;
    overflow: hidden;
}

.portafolio .galeria .contenedor-imagen a {
    background: #3da5e2;
    display: inline-block; 
}

.portafolio .galeria .contenedor-imagen a:hover img {
    opacity: .3;
}

/* Ventana Modal */
.modal-dialog {
    max-width: 62.5rem;
}

.modal-content {
    background: none;
    border: none;
}

@media screen and (max-width: 62rem){
    .portafolio .galeria .contenedor-imagen:nth-child(1) {order:1}
    .portafolio .galeria .contenedor-imagen:nth-child(2) {order:3}
    .portafolio .galeria .contenedor-imagen:nth-child(3) {order:6}
    .portafolio .galeria .contenedor-imagen:nth-child(4) {order:2}
    .portafolio .galeria .contenedor-imagen:nth-child(5) {order:5}
    .portafolio .galeria .contenedor-imagen:nth-child(6) {order:4}
    .portafolio .galeria .contenedor-imagen:nth-child(7) {order:7}
}