.acerca-de .foto .nombre {
    color: #545454;
    font-weight: 300;
    font-size: 1.125rem;
    letter-spacing: 2px;
}

.acerca-de .info .titulo {
    color: #005385;
    font-weight: 300;
    font-size: 2.5rem;
    margin-bottom: 1.875rem;
}

.acerca-de .info .resumen {
    letter-spacing: 1px;
}

.acerca-de .info .label {
    font-size: 1.125rem;
    font-weight: 600;
    color: #005385;
    margin-bottom: 0.625rem;
}

.acerca-de .info .progress {
    background: #005385;
    border-radius: 0;
    height: 1.56rem;
}

.acerca-de .info .progress .progress-bar {
    background: #3da5e2;
    line-height: 1.56rem;
    padding-left: 1.25rem;
}