<div class="row contacto justify-content-center py-5 mb-5" id="contacto">
    <div class="col-12 col-lg-8">
        <h2 class="titulo">Contacto</h2>
        <form action="" class="formulario">
            <div class="row">
                <div class="col-12 col-lg-6">
                    <div class="form-floating mb-3">
                        <input type="text" name="nombre" id="nombre" class="form-control" placeholder="Joe">
                        <label for="nombre">Nombre</label>
                    </div>   
                </div>
                <div class="col-12 col-lg-6">
                    <div class="form-floating mb-3">
                        <input type="email" name="correo" id="correo" class="form-control" placeholder="correo@...com">
                        <label for="correo">Correo</label>
                    </div>   
                </div>
                <div class="col-12">
                    <div class="form-floating mb-3">
                        <textarea name="mensaje" id="mensaje" class="form-control" placeholder="Mensaje"></textarea>
                        <label for="mensaje">Mensaje</label>
                    </div>
                    <div class="d-flex justify-content-center">
                        <button class="button" type="submit">Enviar</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
