.contacto {
    border-top:  1px solid #cbcbcb;
    border-bottom:  1px solid #cbcbcb;
}

.contacto .titulo {
    color: #003855;
    font-weight: 300;
    font-size: 2.5rem;
    margin-bottom: 2.5rem;
    text-align: center;
}

.contacto .formulario input[type="text"],
.contacto .formulario input[type="email"],
.contacto .formulario textarea {
    padding: 0.94rem;
    border: none;
}

.contacto .formulario textarea  {
    height: 9,38rem;
    min-height: 9.38rem;
    max-height: 15.63rem;
}

.contacto .formulario .button {
    background: #3da5e2;
    border: none;
    padding: 0.44rem 1.86rem;
    color: #fff;
    cursor: pointer;
    width: auto;
    border-radius: 3px;
}

.contacto .formulario .button:hover {
    background: #1ba0ef;
}